<div class="columns">
  <div class="column">
    <h1 class="title is-1">Editing Meal</h1>
  </div>
  <div class="column has-text-right">
    <%= link_to '<i class="fas fa-chevron-left mr-1"></i> Back'.html_safe, meals_path, class: 'button mr-3' %>
    <%= link_to '<i class="fas fa-file-alt mr-1"></i> Show'.html_safe, [@meal], class: 'button is-info' %>
  </div>
</div>
<%= render 'meals/form', meal: @meal %>
